<!-- Renders validation error messages  -->
<% if @job.errors.any? %>
    <ul>
        <% @job.errors.full_messages.each do |msg| %>
            <li class="error"> <%= msg %></li>
        <% end %>
    </ul>
<% end %>
