<h1>Jobs Assigned to <%= @current_user.first_name %> </h1>


<% @jobs.each do |job| %>
    <% if job.assigned_to == @current_user.id %>
        <%= link_to job_path(job) do %>
            <div class="box"><%= job.title %></div>
        <% end%>
    <% end %>
<% end%>


