.box {
    background-color: aquamarine;
    width: 100px;
    padding: 2em;
    margin: 2em;
}

.error {
    color: red;
}


$theme-colors: (


    "primary": #1dd900,


);

$body-bg: rgb(19, 18, 18);

$navbar-default-color: #000;

$navbar-default-link-color: #000;

