



.box {
    background-color: aquamarine;
    width: 100px;
    padding: 2em;
    margin: 2em;
}

.error {
    color: red;
}
.form-check label {
    margin-right: 10px;
    margin-left: 5px;
}

.form-group {
    margin: 0.5em 0;
}